{% extends 'layouts/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Document</title>
    </head>
    <body>
        {% block content %}
        <form id="registrarse" class="container" method="post" action="{% url 'registro' %}">
            {% csrf_token %}
            <h1 class="titulo_registro" >Registrate</h1>
            {{error}} 
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
        {% endblock %}
    </body>
    </html>
